[Unit]
Description=CRUD Backend Service
After=network.target

[Service]
User={{ ansible_user }}
Group={{ ansible_user }}
WorkingDirectory=/opt/crud-backend
ExecStart=/opt/crud-backend/venv/bin/python app.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target